* {
    font-family: 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 3%;
    border-bottom: 1px solid white;
}

.body {
    background-color: black;
}

.header .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px; 
}

.logonex img {
    width: 60px;
    height: auto;
}

.Iniciar img {
    width: 44px;
    height: auto;
    vertical-align: middle;
}

.Iniciar_Sesion {
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
    gap: 8px; 
    font-family: 'Times New Roman', serif;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 25px; 
    position: relative;
}

.header .nav-links li:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 60%;
    background-color: white;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}
.principal{
    display:inline-table-column;
    color: white;
    
}
.titulo{
    color:white;
    font-size: 25px;
    padding: 22px;
    
}
.A{
    display:flex;
    justify-content: center; 
    align-items: center;    
    width: 100%;
    margin-top: 40px;
    font-size: 20px;
    
}
.AJ{
    display: flex;
    justify-content: center; 
    align-items: center;    
    width: 100%;
    margin-top: 40px;
    
    
}
.titulo_cupos{
    color:white;
    font-size: 25px;
    padding: 22px;
    
    
}
.TBL_despliega{
    
    justify-content: center; 
    align-items: center;    
    width:flex;
    margin-top:flex;
    font-size: 20px;
    
    
    
    
}

.despliega {
    display: flex;
    justify-content: center;
    align-items: center;
}


.TBL {
    border-collapse: collapse;
}

.TBL thead th {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid white; 
}

.TBL tbody th {
    padding: 12px;
    text-align: center;
    border-right: 1px solid white; 
}

.TBL td {
    padding: 12px;
    text-align: center;
    
}